.usersTable{
    width: 100%;  
    border-radius: 20px; 
    background-color: var(--white);
}
.user-table-header{
   display: block;
   background-color: var(--blue);
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.user-table-body{
    display: block;
}
.users-table-item{

    padding: 0;
    display: flex;
    justify-content: center;
}

.items-users-header{ 
    padding-block: 20px; 
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.items-users-body{
    padding-block: 20px; 
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.loading-box-users{
    padding-block: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}